@import url("bootstrap/css/bootstrap.min.css");
@import url("social/style.css");
@import url("fonts/font.css");



.hidden {
  display: none;
}
/* customized CSS library */
.main-container {
  margin-top: 80px;
}

body {
  color: #EEE;
}

.warm {
  color: white;
}

.boldbrand {
  font-size: 21px;
  font-family: raleway extralight;
}

.bigger {
  font-size: 35px;
  font-family: noto sans;
}
.big {
  font-size: 21px;
  font-family: noto sans;
}
.normal {
  font-size: 16px;
  font-family: noto sans;
}

.biggest-stylish {
  font-size: 60px;
  font-family: fantasy;
  margin-bottom: 5px;
}
.bigger-stylish {
  font-size: 35px;
  font-family: 'Asul', sans-serif;
}
.big-stylish {
  font-size: 21px;
  font-family: fantasy;
}
.normal-stylish {
  font-size: 18px;
  font-family: fantasy;
}
.small-stylish {
  font-size: 14px;
  font-family: Raleway;
}

#blogs, #blog {
  margin-bottom: 100px;
  padding-bottom: 30px;
}
/*
  Home CSS
*/
#home-page {
  width: auto;
  max-width: 940px;
  min-width: 626px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
}
#home-page .format-adjust {
  text-align: center;
}
#home-page .name {
  letter-spacing: 5px;
  margin-top: 40px;
}
#home-page .subtitle {
  font-family: fantasy;
  letter-spacing: 6px;
}
/*
 * blog CSS
*/
#blog a,
#blogs a {
  color: orange;
}

#blog .content {
  margin-top: 80px;
  margin-bottom: 40px;
}
#blogs .content {
  margin-top: 10px;
  margin-bottom: 0px;
}
#blog .blog-list-item {
  margin-bottom: .7em;
}
#blogs .blog-list-item {
  margin-bottom: 2em;
}

.like {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* blog comments */

#blog .comment-block {
  height: 64px;
  width: 35px;
  background-color: lavender;
}

#blog .media-self {
  min-height: 64px;
}

#blog .well-small,
#blogs .well-small{
}
#blogs .well-small {
  margin-left: 2.5em;
}

#blogs .stylish-timestamp {
  font-family: Josefin Sans thin;
  margin-top: 1em;
  padding: 1.5em .8em 1em 1em;
  border-radius: 2em 2em 0 2em;
  background-color: slategray;
  width: 150px;
}
.stylish-timestamp .day {
  font-size: 1.5em;
}
.stylish-timestamp .year {
  font-weight: bold;
  font-size: 2.5em;
  padding-top: .3em;
}
.stylish-timestamp .month {
  font-size: 4em;
}

.paragraph {
}

.paragraph p {
  line-height: 1.8em;
  margin-bottom: 15px;
}

.paragraph h3 {
  margin-top: 1.5em;
  font-size: 2em;
}

.paragraph pre {
  background-color: rgb(32, 32, 32);
  border: 6px solid rgb(80, 80, 90);
  border-radius: 1em;
  padding: 10px;
}

.paragraph pre code {
  font-family: DejaVu Sans mono;
  color: white;
  font-size: 14px;
}


/*
  Profile CSS
*/

#profile a {
  color: orange;
}
#profile a:hover {
  color: white;
  text-decoration: none;
}
/*#profile p {
  font-size: 18px;
}*/

#profile .content{
  margin-top: 20px;
  margin-bottom: 60px;
}

#profile ul li {
  margin-bottom: 1em;
}

#others {
  margin: 0 auto;
  width: 350px;
}
#others ul li {
  margin-right: 20px;
  margin-left: 20px;
  text-shadow: 1px 1px 1px black;
}

.profile-image {
  border-radius: 50%;
  background: no-repeat center top url("/img/profile-image.jpg");
  background-size: 100%;
  width: 250px;
  height: 250px;
  margin: auto;
  margin-bottom: 35px;
}
/* Message settings () */

#message .description {
  padding-top: 20px;
  padding-bottom: 25px;
}
#message input {
  font-size: 16px;
  height: 1.8em;
}
#message textarea {
  font-size: 16px;
}
#message label {
  font-size: 18px;
  color: wheat;
  text-shadow: 1px 1px 1px black;
}
#message .error {
  text-shadow: 1px 1px 1px white;
}
#message #form,
#message #result {
  padding-top: 25px;
  padding-bottom: 5px;
  margin-left: 4.5em;
  margin-right: 4.5em;
}
#message #result p {
  line-height: 1.5em;
  color: wheat;
  text-shadow: 1px 1px 1px black;
}

/* footer settings (bootstrap-modified) */
#header {
  box-shadow: 0px -1px 7px black;
}
#header .navbar-inner {
  border-width: 0;
  background: white;
}
#menu {
  position: relative;
  width: 450px;
  margin-top: 10px;
}
#menu .center {
  margin-left: 43%;
  display: block;
  position: absolute;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  bottom: -24px;
  background: white;
  box-shadow: 0 0 7px black;
}
#menu .center a {
  position: absolute;
  left: 14px;
  bottom: 2px;
  font-size: 47px;
}
#menu .center:before {
  content: '';
  display: block;
  position: absolute;
  background: white;
  width: 68px;
  height: 40px;
  bottom: 17px;
  left: -7px;
}
#menu li {
  display: block;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 3px;
}
#menu li a {
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 16px;
  font-family: fantasy;
  color: black;
  text-decoration: none;
}
#menu li a:hover {
  color: #777777;
}

/* page container */
.page-container {
  position: relative;
}

/* footer settings */

.footer-show {
  animation: showup .5s forwards;
  -webkit-animation: showup .5s forwards;
}

.footer-hide {
  animation: hidedown .5s forwards;
  -webkit-animation: hidedown .5s forwards;
}

@keyframes showup {
  from {bottom : -100px;}
  to {bottom : 0px;}
}
@-webkit-keyframes showup {
  from {bottom : -100px;}
  to {bottom : 0px;}
}
@keyframes hidedown {
  from {bottom : 0px;}
  to {bottom : -100px;}
}
@-webkit-keyframes hidedown {
  from {bottom : 0px;}
  to {bottom : -100px;}
}

#footer {
  max-width: 940px;
  margin: auto;
}

.fs1 {
  font-size: 1.5em;
  color: #CCC;
  width: 1.5em;
	margin-top: -.15em;
}

.fs1:hover {
  text-decoration: none;
}

#footer span.divider {
  margin-left: 1.5em;
  margin-right: 1em;
}

/* background image(s) settings */

.front-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: no-repeat center right fixed url('/img/brown-1.jpg');
  background-size: cover;
  background-color: #000000;
  overflow: scroll;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(30,30,30,.78);
}

/* 404 page */

#p404 {
  color: white;
}
#p404 .obvious {
  text-shadow: 1px 1px 6px white;
}
