<div id="profile" class="container main-container text-center">
  <div class="container-fluid">
    <div class="content normal-stylish">
      <div class="profile-image"></div>
      <h3>Nihao!</h3>
      <p class="">I am working as a passionate platform/API developer in <a href="http://www.shutterstock.com/labs/">Shutterstock Inc</a>.</p>
      <p class="">I love thinking and enjoy building awesome products.</p>
      <p>I read, design, and hike in my spare time.</p>
    </div>

    <div id="others">
      <ul class="inline">
        <li>
          <h4 class="big-stylish"><a href="/writing" target="_self">Writings</a></h4>
        </li>
        <li>
          <h4 class="big-stylish"><a href="/lifepieces" target="_self">Life Pieces</a></h4>
        </li>
      </ul>
    </div>

  </div>
</div>